<% content_for :title, "Blog" %>

<div class="container policy">
<div class="row">
<div class="col col-12">

<header>
  <h1><%= content_for :title %></h1>
</header>

<ul>
  <li>
    <%= link_to "5 Tips for Successfully Starting Your Union",
      blog_tips_for_starting_a_union_path %>
  </li>
  <li>
    <%= link_to "5 Tips for Successful 1-on-1 Organizing Conversations",
      blog_tips_for_organizing_conversations_path %>
  </li>
  <li>
    <%= link_to "Supercharge Your 1-on-1 Organizing Conversations with AEIOU",
      blog_aeiou_framework_path %>
  </li>
  <li>
    <%= link_to "6 Tips for Identifying Organic Leaders",
      blog_tips_for_organic_leader_identification_path %>
  </li>
  <li>
    <%= link_to "Prove You're Ready to Beat the Boss with Structure Tests",
      blog_structure_tests_path %>
  </li>
  <li>
    <%= link_to "5 Tips for Creating Community Allies",
      blog_community_allies_path %>
  </li>
  <li>
    <%= link_to "5 Union Busting Strategies and How to Stop Them",
      blog_union_busting_defenses_path %>
  </li>
  <li>
    <%= link_to "How to Win Big in Union Contract Negotiations",
      blog_negotiations_path %>
  </li>
</ul>

</div>
</div>
</div>
