<% set_meta_tags article: {
    modified_time: '2024-11-12',
    published_time: '2024-10-31',
  },
  og: {
    type: 'article',
  }
%>

<div class="container policy">
<div class="row">
<div class="col col-12">

<header>
  <h1><%= title "Frequently Asked Questions" %></h1>
</header>

<%= anchored_header :h2, "What's a Labor Union?" %>

<p>A labor union is an organization formed by workers who come together to improve their working conditions through <em>collective action</em>. By pooling their individual strength, workers can negotiate with employers as a united front, making it more difficult for bosses to take advantage of them.</p>
<p>In essence, companies don't need any one worker, but they do need all of them.</p>
<p>As part of the American workforce, every employee has the right to form or join a labor union, provided they are not in management positions.</p>
<p>The contributions of labor unions have had a lasting impact on modern society. Many of the benefits we enjoy today are directly attributed to the collective efforts of labor unions, such as:</p>
<ul>
  <li>The two-day weekend</li>
  <li>The 8-hour workday</li>
  <li>Overtime pay after 40 hours</li>
  <li>Workplace safety regulations</li>
  <li>Workers' compensation for injuries</li>
  <li>Ending child labor</li>
  <li>Labor day</li>
</ul>

<%= anchored_header :h2, "How are Labor Unions Created?" %>

<p>As part of the American workforce, every employee has the right to form or join a labor union, provided they are not in management positions. So anyone can start the process. Here's what it looks like:</p>
<ol>
  <li>
    <strong>Workers Begin Organizing</strong>
    <p>Employees decide on a <em>bargaining unit</em>, such as their entire workplace or specific departments, and start organizing support for their union among workers in that unit. While momentum is building, organizing is typically kept secret from the boss to avoid retaliation and to delay the company from hiring <em>union busters</em> to oppose the effort.</p>
  </li>
  <li>
    <strong>Workers Request Their Union Certification Election</strong>
    <p>Once 30% of employees in the bargaining unit indicate that they support their union, they can request their <em>union certification election</em> through the <%= link_to "National Labor Relations Board (NLRB)", "https://www.nlrb.gov", target: "_blank" %>. However, it's recommended to wait for an 80% <em>supermajority</em> of support instead. That's because once the election is requested, bosses are notified, so the effort is no longer secret. At that point bosses typically hire union busters who can decrease support by 20% or more.</p>
  </li>
  <li>
    <strong>Workers Vote to Certify Their Union</strong>
    <p>The NLRB typically sets the vote on a date within one month of the request. However, the vote can be delayed if the company legally challenges the bargaining unit definition. Employees in the bargaining unit receive secret ballots, which are counted on the day of the vote by the NLRB. If more than 50% of returned votes support the employees' union, their union is certified, and negotiations with management can begin.</p>
  </li>
</ol>
<p>For more info, see the NLRB page on how they <%= link_to "Conduct Elections", "https://www.nlrb.gov/about-nlrb/what-we-do/conduct-elections", target: "_blank" %>.</p>

</div>
</div>
</div>
