<div id="hero-container" class="container">
  <div id="hero" class="row">
    <div id="hero-overlay" class="col col-12 col-sm-7 col-md-5">
      <div class="overlay-text overlay-title">
        Fearlessly form <em>your</em> union
      </div>
      <div class="overlay-text overlay-subtitle">
        Win more of what you love
      </div>
      <%= picture_tag class: 'screenshot' do %>
        <%= tag :source, srcset: image_path('bezel-screenshot-dark.png'),
          media: '(prefers-color-scheme: dark)' %>
        <%= image_tag 'bezel-screenshot.png',
          alt: 'Screenshot of the Organize app' %>
      <% end %>
      <%= render 'layouts/app_store_badges', ref: 'hero' %>
    </div>
  </div>
  <div class="row">
    <%= render 'layouts/secondary_value_proposition',
      img_src: 'construction_24dp_AF52DE_FILL0_wght400_GRAD0_opsz24.svg',
      text: 'Use proven tools and strategies to build support' %>
    <%= render 'layouts/secondary_value_proposition',
      img_src: 'bar_chart_24dp_AF52DE_FILL0_wght400_GRAD0_opsz24.svg',
      text: 'Democratically decide your top priorities' %>
    <%= render 'layouts/secondary_value_proposition',
      img_src: 'contact_support_24dp_AF52DE_FILL0_wght400_GRAD0_opsz24.svg',
      text: 'Get expert guidance when you need it' %>
  </div>
  <div class="row">
    <div class="col col-12 secondary-call-to-action">
      <%= link_to "Learn 5 Tips for Successfully Starting Your Union",
        blog_tips_for_starting_a_union_path %>
    </div>
  </div>
  <%= render 'layouts/fact_row',
    text: 'Union members earn an average of $8,996 more per year than non-union members',
    source: 'https://docs.google.com/spreadsheets/d/1-blxWF0x9YZ-NWRAX-0Kj0BsyYuOgvI-l2omHxX0mPk/view?usp=sharing',
    ref: 'fact-row-earnings' %>
  <div class="row">
    <%= render 'layouts/pricing_plan',
      title: 'Trial Plan',
      subtitle: 'Free for 30 days',
      price: '$0' %>
    <%= render 'layouts/pricing_plan',
      title: 'Monthly Plan',
      subtitle: 'Cancel any time',
      price: '$3' %>
    <%= render 'layouts/pricing_plan',
      title: 'Annual Plan',
      subtitle: 'Save 17%',
      price: '$2.50' %>
  </div>
  <%= render 'layouts/app_store_badges', ref: 'pricing' %>
  <%= render 'layouts/fact_row',
    text: 'Last month 2,935 workers formed new unions',
    source: 'https://docs.google.com/spreadsheets/d/1G0Q9P2eLUcmOZg0WGjyewhx1ENdLtpuMFH_J0nAVFO4/view',
    ref: 'fact-row-new-members' %>
</div>
