<% set_meta_tags article: {
    modified_time: '2025-02-12',
    published_time: '2024-09-19',
  },
  og: {
    type: 'article',
  }
%>

<div class="container policy">
<div class="row">
<div class="col col-12">

<header>
  <h1><%= title "Terms of Service" %></h1>
  <p>Last modified: 2025-02-12</p>
</header>

<h2>Introduction</h2>
<p>Organize LLC ("Organize") provides software tools that help American workers improve their work lives. You agree to our Terms of Service ("Terms") by installing or using our apps, services, or website (together, "Services").</p>

<h2>About Our Services</h2>

<h3>Minimum Age</h3>
<p>To use our Services, you must be at least 18 years old, or old enough to form a binding contract where you live.</p>

<h3>Account Registration</h3>
<p>When you create an account, you must provide us with accurate information, in good faith, and you agree to keep your information updated if it changes.</p>

<h3>Org Membership</h3>
<p>An Org is an invite-only organization of workers who all fit the Org's Membership Definition. You must not create or join an Org unless you fit its Membership Definition. Additionally, you may not become an Org Member if you are a manager or supervisor of workers who fit the Membership Definition, or if you have the ability to hire, fire, promote, or discipline those workers.</p>

<h3>Privacy of User Data</h3>
<p>Organize does not sell, rent, or monetize your personal data or content in any way - ever.</p>
<p>Please read our <%= link_to 'Privacy Policy', privacy_path %> to understand how we safeguard the information you provide when using our Services. For the purpose of operating our Services, you agree to our data practices as described in our <%= link_to 'Privacy Policy', privacy_path %>.</p>

<h3>Software</h3>
<p>In order to enable new features and enhanced functionality, you consent to downloading and installing updates to our Services.</p>

<h3>Fees and Taxes</h3>
<p>You are responsible for data and mobile carrier fees and taxes associated with the devices on which you use our Services.</p>

<h2>Using Organize</h2>

<h3>Our Terms and Policies</h3>
<p>You must use our Services according to our Terms and posted policies. If we disable your account for a violation of our Terms, you will not create another account without our permission.</p>

<h3>Legal and Acceptable Use</h3>
<p>You agree to use our Services only for legal, authorized, and acceptable purposes. You will not use (or assist others in using) our Services in ways that: (a) violate or infringe the rights of Organize, our users, or others, including privacy, publicity, intellectual property, or other proprietary rights; (b) involve sending illegal or impermissible communications.</p>

<h3 id="child-safety-standards">Child Safety Standards</h3>
<p>Organize has a zero-tolerance policy towards child sexual abuse and exploitation (CSAE). By using Organize, you agree not to post any content depicting, promoting, or encouraging child sexual abuse or exploitation. Users are encouraged to flag any content that violates this policy by tapping the "Flag" button associated with the content. Users are also encouraged to report this content to Organize via the "Email Organize LLC" button in the in-app Settings menu.</p>

<h3>Harm to Organize</h3>
<p>You must not (or assist others to) access, use, modify, distribute, transfer, or exploit our Services in unauthorized manners, or in ways that harm Organize, our Services, or systems. For example you must not (a) gain or try to gain unauthorized access to our Services or systems; (b) disrupt the integrity or performance of our Services; (c) create accounts for our Services through unauthorized or automated means; (d) collect information about our users in any unauthorized manner; or (e) sell, rent, or charge for our Services.</p>

<h3>Keeping Your Account Secure</h3>
<p>You are responsible for keeping your device and your Organize account safe and secure. If you lose your phone, work with your Org’s moderators to block the phone’s account, and then create a new account and rejoin the Org on your new phone.</p>

<h3>Third-Party Services</h3>
<p>Our Services may allow you to access, use, or interact with third-party websites, apps, content, and other products and services. When you use third-party services, their terms and privacy policies govern your use of those services.</p>

<h2>Your Rights and License with Organize</h2>

<h3>Your Rights</h3>
<p>You own the information you submit through our Services.</p>

<h3>Our Rights</h3>
<p>We own all copyrights, trademarks, domains, logos, trade dress, trade secrets, patents, and other intellectual property rights associated with our Services. You may not use our copyrights, trademarks, domains, logos, trade dress, patents, and other intellectual property rights unless you have our written permission. To report copyright, trademark, or other intellectual property infringement, please <%= mail_to @email, 'contact us' %>.</p>

<h3>Our License to You</h3>
<p>Organize grants you a limited, revocable, non-exclusive, and non-transferable license to use our Services in accordance with these Terms.</p>

<h2>Disclaimers and Limitations</h2>

<h3>Disclaimers</h3>
<p>YOU USE OUR SERVICES AT YOUR OWN RISK AND SUBJECT TO THE FOLLOWING DISCLAIMERS. WE PROVIDE OUR SERVICES ON AN "AS IS" BASIS WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, AND FREEDOM FROM COMPUTER VIRUS OR OTHER HARMFUL CODE. ORGANIZE DOES NOT WARRANT THAT ANY INFORMATION PROVIDED BY US IS ACCURATE, COMPLETE, OR USEFUL, THAT OUR SERVICES WILL BE OPERATIONAL, ERROR-FREE, SECURE, OR SAFE, OR THAT OUR SERVICES WILL FUNCTION WITHOUT DISRUPTIONS, DELAYS, OR IMPERFECTIONS. WE DO NOT CONTROL, AND ARE NOT RESPONSIBLE FOR, CONTROLLING HOW OR WHEN OUR USERS USE OUR SERVICES. WE ARE NOT RESPONSIBLE FOR THE ACTIONS OR INFORMATION (INCLUDING CONTENT) OF OUR USERS OR OTHER THIRD PARTIES. YOU RELEASE US, AFFILIATES, DIRECTORS, OFFICERS, EMPLOYEES, PARTNERS, AND AGENTS (TOGETHER, "ORGANIZE PARTIES") FROM ANY CLAIM, COMPLAINT, CAUSE OF ACTION, CONTROVERSY, OR DISPUTE (TOGETHER, "CLAIM") AND DAMAGES, KNOWN AND UNKNOWN, RELATING TO, ARISING OUT OF, OR IN ANY WAY CONNECTED WITH ANY SUCH CLAIM YOU HAVE AGAINST ANY THIRD PARTIES.</p>

<h3>Limitation of Liability</h3>
<p>THE ORGANIZE PARTIES WILL NOT BE LIABLE TO YOU FOR ANY LOST PROFITS OR CONSEQUENTIAL, SPECIAL, PUNITIVE, INDIRECT, OR INCIDENTAL DAMAGES RELATING TO, ARISING OUT OF, OR IN ANY WAY IN CONNECTION WITH OUR TERMS, US, OR OUR SERVICES, EVEN IF THE ORGANIZE PARTIES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. OUR AGGREGATE LIABILITY RELATING TO, ARISING OUT OF, OR IN ANY WAY IN CONNECTION WITH OUR TERMS, US, OR OUR SERVICES WILL NOT EXCEED ONE HUNDRED DOLLARS ($100). THE FOREGOING DISCLAIMER OF CERTAIN DAMAGES AND LIMITATION OF LIABILITY WILL APPLY TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW. THE LAWS OF SOME STATES OR JURISDICTIONS MAY NOT ALLOW THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES, SO SOME OR ALL OF THE EXCLUSIONS AND LIMITATIONS SET FORTH ABOVE MAY NOT APPLY TO YOU. NOTWITHSTANDING ANYTHING TO THE CONTRARY IN OUR TERMS, IN SUCH CASES, THE LIABILITY OF THE ORGANIZE PARTIES WILL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW.</p>

<h3>Indemnity</h3>
<p>You will indemnify us from all losses and liabilities, including legal fees, that arise from these terms or relate to your use of Organize. We reserve the right to exclusive control over the defense of a claim covered by this clause. If we use this right then you will help us in our defense.</p>
<p>Your obligation to indemnify under this clause also applies to our subsidiaries, affiliates, officers, directors, employees, agents, and third party service providers.</p>

<h3>Availability of Our Services</h3>
<p>Our Services may be interrupted, including for maintenance, upgrades, or network or equipment failures. We may discontinue some or all of our Services, including certain features and the support for certain devices and platforms, at any time.</p>

<h2>Resolving Disputes and Ending Terms</h2>

<h3>Resolving Disputes</h3>
<p>Any disputes with us must be resolved in Seattle under Washington law.</p>
<p>Washington law, excluding its conflict of law provisions, governs these terms and all of our other policies. If a lawsuit does arise, both parties consent to the exclusive jurisdiction and venue of the courts located in Seattle, Washington.</p>

<h3>Ending these Terms</h3>
<p>You may end these Terms with Organize at any time by deleting the Organize app from your device and discontinuing use of our Services. We may modify, suspend, or terminate your access to or use of our Services any time for any reason, such as if you violate the letter or spirit of our Terms or create harm, risk, or possible legal exposure for Organize. The following provisions will survive termination of your relationship with Organize: "Your Rights and License with Organize," "Disclaimers and Limitations," "Resolving Disputes and Ending Terms," and "General."</p>

<h2>General</h2>
<p>We may update the Terms from time to time. When we update our Terms, we will update the "Last Modified" date associated with the updated Terms. Your continued use of our Services confirms your acceptance of our updated Terms and supersedes any prior Terms. You will comply with all applicable export control and trade sanctions laws. Our Terms cover the entire agreement between you and Organize regarding our Services. If you do not agree with our Terms, you should stop using our Services.</p>
<p>If we fail to enforce any of our Terms, that does not mean we waive the right to enforce them. If any provision of the Terms is deemed unlawful, void, or unenforceable, that provision shall be deemed severable from our Terms and shall not affect the enforceability of the remaining provisions. Our Services are not intended for distribution to or use in any country where such distribution or use would violate local law or would subject us to any regulations in another country. We reserve the right to limit our Services in any country. If you have specific questions about these Terms, please <%= mail_to @email, 'contact us' %>.</p>

</div>
</div>
</div>
