<% content_for :title, "6 Tips for Identifying Organic Leaders" %>

<div class="container policy">
<div class="row">
<div class="col col-12">

<header>
  <h1><%= content_for :title %></h1>
  <p>November 8, 2024</p>
</header>

<p>Unions are built on relationships- one person, one conversation, and one connection at a time. While <%= link_to "1-on-1 organizing conversations", blog_tips_for_organizing_conversations_path %> are essential to any successful union drive, they're also incredibly time-consuming. As such, it's just not possible to have a meaningful 1-on-1 with everyone at your workplace.</p>
<p>That's where <em>organic leaders</em> come in- individuals who naturally inspire and lead a group of coworkers at your workplace. Identifying organic leaders is game-changing because it allows you to focus on building relationships with them, instead of trying to reach everyone individually. Once you convince an organic leader to join in, it'll be a breeze for them to convince the rest of their group to join too. However, identifying the right people takes skill. Incorrectly identifying organic leaders wastes valuable time and can even harm the unionization drive. That's why it's crucial to get this right.</p>
<p>In this post, we'll share six tips to help you correctly identify the organic leaders at your workplace. In the first two tips, we'll discuss tools to you help identify groups of workers that naturally form at your workplace. The next three tips will help you determine potential organic leaders among those groups. Finally, the last tip will help you prove that those potential organic leaders are the real deal. By the end of this post, you'll be able to run a campaign that's 10x more efficient and effective.</p>

<h2>Tip #1: Visualize Work Groups with a Company Map</h2>

<p>Before you try to identify organic leaders, it's helpful to identify the organic groups of workers that naturally form at your workplace.</p>
<p>Every company has its own unique landscape of <em>work groups</em> and <em>social groups</em>. Management divides workers into work groups based on job functions, each with its own manager. Meanwhile, workers tend to self-organize into social groups around shared interests, hobbies, or personal connections. A <em>company map</em> is often better for visualizing work groups, whereas an <em>employee directory</em>, discussed in Tip #2, is often better for exploring social groups.</p>
<p>A company map is drawing of your workplace that shows where all of your coworkers usually operate. It includes all the rooms and office features where people tend to congregate. For example, a company map of a grocery store would include the checkout area, aisles, loading bays, storage rooms, break rooms, etc. The company map also includes a labeled dot where each of your coworkers usually work. For example, each cashier's dot would be in the checkout area.</p>
<p>But how does that help you identify work groups? Workers in a work group almost always work in close proximity to each other. So dots on your company map that are closer to each other are more likely to belong to the same work group. For example, a clump of dots in the checkout area might help you identify a cashiers work group, while a clump of dots near your cleaning supply closet might help you identify a custodians work group.</p>
<p>For more info on how to create a company map and use it to identify organic leaders, try these three great exercies from <%= link_to "Labor Notes", "https://www.labornotes.org/", target: "_blank" %>:
<ol>
  <li><%= link_to "Draw Your Workplace Map", "https://www.labornotes.org/sites/default/files/33DrawYourWorkplaceMap_0.pdf", target: "_blank" %></li>
  <li><%= link_to "Map Out How People Connect", "https://www.labornotes.org/sites/default/files/34MapHowPeopleConnect_0.pdf", target: "_blank" %></li>
  <li><%= link_to "Analyze Your Workplace Map", "https://www.labornotes.org/sites/default/files/35AnalyzeYourWorkplaceMap_0.pdf", target: "_blank" %></li>
</ol>

<h2>Tip #2: Explore Social Groups with an Employee Directory</h2>

<p>An employee directory is a spreadsheet that acts as a searchable database of your workplace's social landscape. It contains rows for each worker, with columns for their name, contact information, groups they're part of, and any groups they're an organic leader of. With an employee directory, you can easily filter down to see only the employees who are part of the same group. For example, you could use it to explore the groups of employees who go to the same church, commute on the same bus, or play on the same soccer team outside work.</p>
<p>We've created an example employee directory spreadsheet to get you started- <%= link_to "view it", "https://docs.google.com/spreadsheets/d/1JVuUkOr43eh-5GM_h4fFZqJVkLg--97e7nkllgxPW08/view", target: "_blank" %> or <%= link_to "make a copy", "https://docs.google.com/spreadsheets/d/1JVuUkOr43eh-5GM_h4fFZqJVkLg--97e7nkllgxPW08/copy", target: "_blank" %>. Check out how its "Group Explorer" tab lets you select any group to see its members and any organic leaders you've identified. This is incredibly handy for exploring groups that can't easily be identified using the company map.</p>
<p>The employee directory is one of the most important tools in an organizer's toolbox thanks to its versatility. As your campaign evolves, it can too. For example, you could add a column to track whether each employee participated in the last structure test.</p>
<p>For more info, check out this great exercise from <%= link_to "Labor Notes", "https://www.labornotes.org/secrets/handouts", target: "_blank" %> about <%= link_to "how to make an employee directory", "https://www.labornotes.org/sites/default/files/36MakeAChartToo_0.pdf", target: "_blank" %>.

<h2>Tip #3: Ask Coworkers Who They Turn To</h2>

<p>As you identify groups at your workplace using the tools above, discuss the groups with your other core organizers. Some groups will have a person who obviously stands out as its potential organic leader. However, there are always groups left over where it's tough to determine a leader. So what's your next move? Talk to workers in those groups!</p>
<p>When talking to coworkers from a particular group, ask questions like "Who do you turn to when you need help understanding something at work?" or "Who helps you make sense of things around here?"</p>
<p>Pay attention to their response, and see if there's someone who keeps popping up as the go-to person. This is likely an organic leader in that group. Why? Because people tend to seek out individuals they respect and trust for guidance. By asking these questions, you'll start to get a sense of who the most influential people are within each group.</p>
<p>And remember, these aren't necessarily the people in charge or with formal leadership roles. Instead they're the people who naturally rise up as sources of information and support among their peers.</p>

<h2>Tip #4: Look for People Respected by Both Workers and Management</h2>

<p>As you continue to identify organic leaders, it's essential to look beyond their influence within the group itself. Are they just popular among their peers or do they also earn the respect of management?</p>
<p>Organic leaders tend to be hardworking, experienced employees who consistently demonstrate a high level of professionalism. As such, it's common for them to have built strong relationships with management as well. When you see an individual who is respected by both workers and management, take note!</p>
<p>A key benefit of identifying organic leaders who are respected by both workers and management is that it's harder for management to retaliate against them when they speak out. When a person has a reputation as a hard worker, it's much more difficult for management to claim they're being "unreasonable" or "just making trouble". Instead, their complaints carry weight because of the context: this person has consistently demonstrated themselves to be responsible and reliable.</p>
<p>Furthermore, management is also less likely to dismiss the concerns of a respected individual as mere whining. When someone who's earned the respect of both workers and management speaks out, it's harder for management to characterize their words as "just complaints" or "personal gripes". This makes it more difficult for them to ignore legitimate issues and more likely that they'll take meaningful action to address concerns and improve working conditions.</p>

<h2>Tip #5: Don't Assume They're Your Most Vocal Supporters</h2>

<p>When identifying an organic leader in each group, it's easy to assume that they'll be the group's most enthusiastic supporter when it comes to forming a union. But this assumption often leads to disappointment and missed opportunities.</p>
<p>In reality, most organic leaders won't support the union at first. This might seem counterintuitive, but consider this: as hardworking, experienced employees who are respected by management, they likely feel that they're already doing okay without the union's help. They're probably winning small concessions from their managers, like desirable shifts or slightly better pay, making them feel like they should keep their head down instead of rocking the boat.</p>
<p>Fortunately this is exactly the mindset that 1-on-1 organizing conversations and the <%= link_to " AEIOU framework", blog_aeiou_framework_path %> are intended to sway. In short, they help your coworker realize that while they may be able to win small victories individually, the only way to win large victories in the workplace is by joining together in collective action.</p>

<h2>Tip #6: Prove Your Picks with Structure Tests</h2>

<p>So far we've discussed many tips for identifying <em>potential</em> organic leaders, but there's really only one way to determine whether you picked correctly or not- you've got to put them to the test.</p>
<p>Structure tests are public actions that demonstrate your coworkers' growing confidence in each other's collective power, like signing a petition against the boss, wearing a union sticker, or attending a pro-union rally. By participating in structure tests, each coworker risks punishment from the boss, which shows how strong their commitment really is.</p>
<p>Structure tests are great for gaguing your organization's overall strength, but they're also perfect for measuring how effective each of the potential organic leaders you identified is at actually inspiring their colleages to take action. If one fails to convince most of their colleagues to join in a structure test, it's time to focus on finding a better organic leader among that group. On the other hand, if 90% of that group joins in, you can be confident that they have what it takes to drive your unionization effort forward.</p>

<p><em>Want to fearlessly form your union? <%= link_to "Download Organize free", store_path("tips-for-organic-leader-id") %> to get started today.</em></p>

</div>
</div>
</div>
