<% content_for :title, "5 Tips for Successfully Starting Your Union" %>

<div class="container policy">
<div class="row">
<div class="col col-12">

<header>
  <h1><%= content_for :title %></h1>
  <p>October 31, 2024</p>
</header>

<p>As a union organizer, you're about to embark on an exciting journey with your coworkers. But before you can take on the boss and win, you'll need to build collective power. In this article, we'll share five essential tips to help you get started.</p>
<p>Brand new to all this? Check out <%= link_to_faq question: "What's a Labor Union" %> and <%= link_to_faq question: "How are Labor Unions Created?" %> for a solid foundation.</p>

<h2>Tip #1: Build Collective Power from the Ground Up</h2>

<p>As <%= link_to "John Lewis", "https://en.wikipedia.org/wiki/John_Lewis", target: "_blank" %> said, "You have to move your feet." Building a strong union takes time and effort, but it's worth it in the end. Organize is a great resource for guiding you toward your goals, but it's not a replacement for actually getting out there with your coworkers and demonstrating your power through collective action.</p>
<p>So how do you go from <em>just you</em> to having the strength-in-numbers needed to create positive change in your workplace? By talking to your coworkers 1-on-1! As simple as it sounds, 1-on-1 organizing conversations are the bedrock of every good organizing campaign. In these 1-on-1s, you identify a workplace issue that gets your coworker fired up, and then discuss how collective action is the most effective way to address that issue.</p>
<p>For more info, see <%= link_to "5 Tips for Successful 1-on-1 Organizing Conversations", blog_tips_for_organizing_conversations_path %>.</p>


<h2>Tip #2: Focus on Recruiting Organic Leaders</h2>

<p>Organizing efforts often focus on mobilizing coworkers who already want a union. While this approach works well in the beginning, it's unlikely to achieve the ultimate goal of an 80% supermajority of support before the big union election. That's because it's unlikely that 80% of your coworkers already want a union. And even if they do, recruiting all of your coworkers one-by-one isn't an efficient use of your time.</p>
<p>A more effective approach is to focus on identifying and recruiting the organic leaders within your workplace. These are individuals who are already trusted and respected by many of their colleagues. When organic leaders call for action, they are likely to inspire others to join in. Initially, these leaders may not be committed to unionization themselves, but once you've convinced them, they can play a crucial role in quickly turning the tide of support among their colleagues.</p>
<p>For more info, see <%= link_to "6 Tips for Identifying Organic Leaders", blog_tips_for_organic_leader_identification_path %>.

<h2>Tip #3: Track Your Strength with Structure Tests</h2>

<p>As you start to build momentum, it's essential to gauge your organization's strength. When you have just a few members, it's wise to keep your organizing drive hidden from bosses to prevent retaliation. However, once you recruit 30% to 50% of your coworkers, you have the strength-in-numbers to take your campaign public.</p>
<p>Structure tests are public actions that demonstrate your coworkers' growing confidence in each other's collective power. Examples include signing a petition or poster against the boss, wearing union stickers or red shirts on Fridays, and joining pro-union rallies or marches. Going on strike is the ultimate structure test, but it shouldn't be attempted until you're very confident in your support. By participating in structure tests, each coworker risks punishment from the boss, which shows how strong their commitment really is.</p>
<p>For instance, if you've recruited 50% of your workplace but only 40% actually wore union stickers during the last structure test, it's clear that more work needs to be done. But if you've recruited 90% of your workplace and 85% show up to the rally, you can confidently declare yourself ready for a union election.</p>
<p>Structure tests also help gauge the effectiveness of the organic leaders you identified. If an organic leader fails to convince most of their colleagues to join in a structure test, it's time to focus on finding a better organic leader among those colleagues.</p>

<h2>Tip #4: Create Community Allies</h2>

<p>As you grow your organization, it's essential to build community allies who support your cause. These allies may include local community groups, labor organizations, and other stakeholders who can provide valuable resources, expertise, and advocacy.</p>
<p>But why is building these alliances so important? When workers strike, their actions often have unintended consequences for groups outside the workplace – such as inconvenience to customers, disruptions to supply chains, or negative impacts on local businesses. However, if community allies understand why workers are taking action (e.g., to improve wages, benefits, and working conditions), they're more likely to channel their anger and frustrations toward the boss, rather than at the workers themselves.</p>
<p>By proactively reaching out to these community groups and educating them about your cause, you can build strong alliances that amplify your message and support your efforts. This can help you avoid unintended consequences and build a stronger, more resilient union in the long run.</p>

<h2>Tip #5: Educate Members about Union-Busting Tactics</h2>

<p>As your support grows, it's critical to educate members about the tactics used by employers to undermine your efforts. This includes recognizing signs of union-busting behavior and knowing how to respond effectively.</p>
<p>Unfortunately, many workers don't realize they're being targeted by anti-union tactics until it's too late. By educating your members on these tactics, you can empower them to defend their rights and build a stronger, more resilient union.</p>

<p><em>Want to fearlessly form your union? <%= link_to "Download Organize free", store_path("tips-for-starting-a-union") %> to get started today.</em></p>

</div>
</div>
</div>
