<% set_meta_tags article: {
    modified_time: '2025-02-12',
    published_time: '2024-11-26',
  },
  og: {
    type: 'article',
  }
%>

<div class="container policy">
<div class="row">
<div class="col col-12">

<header>
  <h1><%= title "5 Union Busting Strategies and How to Stop Them" %></h1>
  <p>November 26, 2024</p>
</header>

<div>
  <blockquote cite="https://en.wikipedia.org/wiki/Martin_J._Levitt">
    <p>Union busting is a field populated by bullies and built on deceit. A campaign against a union is an assault on individuals and a war on the truth. As such, it is a war without honor. The only way to bust a union is to lie, distort, manipulate, threaten, and always, always attack.</p>
  </blockquote>
  <p>—Martin J. Levitt, <cite>Confessions of a Union Buster</cite></p>
</div>

<p>When workers unite to form a union, they're fighting for fair wages, better working conditions, and a voice in the decisions that impact their lives. However, employers often view unions as a threat to their bottom line and many will stop at nothing to prevent them from forming.</p>
<p>These companies all use the same old playbook of union busting strategies to discourage and disrupt organizing efforts. Understanding it is the key to fighting back.</p>
<p>This blog post explores 5 union busting strategies from that playbook, and gives practical advice on how to combat them effectively. By the end of this post, you and your coworkers will be able to recognize, resist, and overcome these underhanded strategies together.</p>
<p>So let's dive in and learn how to stop them in their tracks.</p>

<h2>Strategy 1: Fear</h2>
<p>Union busters use fear to intimidate workers, coerce supervisors, and scare community members into opposing your union. Fortunately, there are battle-tested defenses that empower you to stand up to these bullies and fearlessly continue the fight for meaningful change in your workplace.</p>

<h3 id="intimidating-workers">Intimidating Workers</h3>
<p>In an effort to intimidate workers into giving up the fight, management frequently exaggerates worst-case scenarios or outright threatens workers' livelihoods. For example, they may:<p>
<ul>
  <li>Predict that the company could close or move its operations if a union forms</li>
  <li>Imply that workers could lose their jobs, benefits, or raises if they vote yes</li>
  <li>Tell stories about violent events that involved other unions</li>
</ul>
<p>To armor your coworkers against intimidation, use <%= link_to "inoculation", blog_aeiou_framework_path(anchor: "inoculate") %> and humor.</p>
<p><strong>Inoculation</strong> involves anticipating and discussing examples of the boss's bullying big-talk with your coworkers ahead of time, so you can poke holes in it together and show that it's really just hot air. That way when your coworkers hear it later from the boss's mouth, they can recognize it and courageously brush it off. For more info, watch this video about <%= link_to "Inoculation and the Boss Campaign", "https://youtu.be/FLXFj25o3pY", target: "_blank" %>.</p>
<p><strong>Humor</strong> is another effective technique for cutting an intimidator down to size. For example, one employer in Georgia hired a threatening looking union buster to occasionally patrol the firm and intimidate employees. So one worker wrote a short silly song poking fun of his union busting ways and taught it everyone. The next time the union buster came in, everyone started singing it together as they worked. It got under the union buster's skin so much that his whole air of invincibility was shattered! From then on, everyone was immune to his bullying.</p>

<h3>Forcing Supervisors to be Foot Soldiers</h3>
<p>Higher-ups and union busters frequently force supervisors to do the dirty-work in a union busting campaign, regardless of whether the supervisor opposes the shady tactics involved. For example, they may:</p>
<ul>
  <li>Threaten supervisors with job loss or demotion if they don't actively campaign against your union</li>
  <li>Force supervisors to share false information about your union with their employees</li>
  <li>Pressure supervisors to conduct 1-on-1 meetings with their direct reports</li>
</ul>
<p>If you find yourself on the receiving end of these 1-on-1s, remember to take notes, don't overshare, and debrief soon after with another organizer.</p>
<p><strong>Taking good notes</strong> on on what your manager says and does in your 1-on-1 helps in two ways, especially if you think they're violating your rights by threatening you or interrogating you about your union activity. First, the mere act of taking notes may make your supervisor nervous enough to stop harassing you. Second, having a record of what took place will be invaluable if you want to report an <%= link_to "Unfair Labor Practice", "https://www.flra.gov/cases/unfair-labor-practice", target: "_blank" %> later.</p>
<p>In manager 1-on-1s, when the boss asks questions related to your work, answer honestly but <strong>don't overshare</strong>. Even if you previously had a good relationship with this supervisor, remember that higher-ups frequently force managers to report back on any union info they discover. While it may seem like you're just casually chatting or gossiping, your revelation could come back to seriously hurt your union effort later.</p>
<p>After a 1-on-1 with your supervisor, be sure to find another organizer and <strong>debrief soon after</strong> about what happened. Together you'll be able to address any new fears that management tried to give you. Plus you can share any intel you learned about management's next moves. Similarly, whenever you see a coworker leaving a 1-on-1 with management, reach out in support and offer to debrief with them too.</p>

<h3>Fearmongering in the Community</h3>
<p>In order to sway public opinion against you, union busters will try to make community groups fearful of what could happen if your union succeeds. For example, they might:</p>
<ul>
  <li>Spread fear in hospital patients about who would care for them if nurses go on strike</li>
  <li>Worry grocery shoppers about how they'll afford rising food costs if the store's employees win a raise</li>
  <li>Concern nursing home residents about how their quality of life would decrease if the union implements rigid or impersonal policies</li>
</ul>
<p>The best defense against this is to <strong>proactively build community allies</strong> before the company's propaganda machine gets a chance to start churning out misleading info. It's especially important to connect early with any community groups who may be affected by your organizing drive, like the groups mentioned in the examples above. By taking the initiative and engaging with your community early on, you can create a counter-narrative to management's anti-union propaganda. This proactive approach will help build understanding, foster solidarity, and strengthen your union's position in the eyes of the public.</p>
<p>For more info, see <%= link_to "5 Tips for Creating Community Allies", blog_community_allies_path %>.</p>

<h2>Strategy 2: Hopelessness</h2>
<p>Union busters often seek to crush workers' spirits by promoting a sense of hopelessness and futility. By making employees believe that their organizing efforts are doomed to fail, union busters aim to discourage worker participation and deflate enthusiasm for your union. By recognizing and counteracting these tactics, workers can protect their morale, maintain unity, and rasie their chances of success.</p>

<h3>Spreading Messages of Futility</h3>
<p>Union busters use various tactics to instill hopelessness in workers. For example, they may:</p>
<ul>
  <li>Claim that you'll never convince a majority of workers to vote yes for your union</li>
  <li>Assert that even if a majority votes yes, management will use legal loopholes to delay negotiations indefinitely</li>
  <li>Allege that even if you make it to negotiations, the company will never give you any new benefits unless you give up something in return</li>
</ul>
<p>If your coworkers are getting derailed by messages of futility, <strong>share success stories</strong> to get them back on track. Highlighting examples of other union drives that resulted in meaningful improvements can inspire workers and foster a sense of collective empowerment. By learning about victorious organizing efforts in similar workplaces, employees can see the potential for their own campaign and maintain hope throughout the process.</p>
<p>Another defense is to point out to your coworkers that <strong>management's pushback proves your power</strong>. As it says in <cite><%= link_to "Secrets of a Successful Organizer", "https://www.labornotes.org/secrets", target: "_blank" %></cite>, "the harder supervisors are working to counter your campaign, the greater the evidence that you do have power." Consider that companies frequently pay union busting firms thousands of dollars per employee to fight a union drive. For instance, Amazon spent <%= link_to "$14.2 million in 2022", "https://olmsapps.dol.gov/query/orgReport.do?rptId=865472&rptForm=LM10Form", target: "_blank" %> on union busters. Companies wouldn't spend that much if they didn't think employees had a real shot at winning!</p>

<h3 id="legal-delays">Delaying with Legal Challenges</h3>
<p>Union busters may employ legal strategies to postpone elections, bargaining, or contract agreements, fostering a sense of futility among workers. For example, they may:</p>
<ul>
  <li>Contest the proposed bargaining unit to delay the election process</li>
  <li>Challenge the results of a union election to prevent negotiations from starting</li>
  <li>Refuse to bargain in good faith, leading to delays in securing a collective bargaining agreement</li>
</ul>
<p>There are many large national unions and other non-profit organizations who will offer you legal services to help fight these delay tactics. Even so, it's important to understand that courts frequently favor corporations, since they'll be able to afford a more expensive lawyer than you.</p>
<p>Instead of relying on the court system to fix things, your strongest weapon against legal delays is <strong>supermajority action</strong>, where 80% or more of your coworkers display your collective power. Supermajority action sends a clear message to management that they cannot continue ignoring you without significant consequences. For more info, see <%= link_to "Why You Need a Supermajority to Beat the Boss", blog_structure_tests_path(anchor: "supermajority") %>.</p>

<h2>Strategy 3: Confusion</h3>
<p>Union busters employ various tactics to sow confusion among workers, aiming to divert attention away from genuine workplace issues and derail your union efforts. Fight back by preparing your coworkers to recognize misinformation ahead of time, helping them find clarity, and redirecting the conversation back to the real issues.</p>

<h3>Distracting from the Real Issues</h3>
<p>Management wants to get workers talking about anything besides real workplace issues, so they spread misinformation or outright lies to do so. They post this misinformation everywhere so workers are surrounded by it and can't ignore it. For example, they may:</p>
<ul>
  <li>Bombard you with anti-union messages on posters, banners, and video monitors within the workplace</li>
  <li>Send emotionally-charged letters from higher-ups addressed to workers and their families at home</li>
  <li>Spread rumors in the community targeting the personal lives of union organizers and supporters</li>
</ul>
<p>When defending against this barage of misinformation, recognize that management can come up with new lies faster than you can debunk them. Instead of trying to react to every false claim, <strong>pick your battles</strong>. In general, you shouldn't dignify a union buster's misinformation with a written response, even if it's an infuriatingly false lie. Rather, only write a response to misinformation when you absolutely need to, such as when it's getting traction among key groups or completely closing people off to your message. Conversely, you should always respond to coworkers when they come to you directly seeking clarity about something they heard from the boss. </p>
<p>Whenever you respond to union busting misinformation, a good strategy is to <strong>affirm, answer, and redirect</strong> back to the real issues, as outlined in <%= link_to "Answering Tough Questions", "https://www.labornotes.org/sites/default/files/62AnsweringToughQuestions_0.pdf", target: "_blank" %>. Imagine if a coworker came to you worried about how they could possibly support their family if forced to strike:</p>
<ul>
  <li><strong>Affirm</strong>: Acknowledge your coworker's concerns and validate their feelings. ("I totally understand. Money is tight for me right now too!")</li>
  <li><strong>Answer</strong>: Provide a concise, truthful response to the question at hand. If there's some truth to management's claims, address it head on. ("It's true we wouldn't get paid during a strike, but deciding to strike requires a majority vote, so we'd never do it unless most of us think it's worth it.")</li>
  <li><strong>Redirect</strong>: Bring the conversation back to core workplace issues and highlight what management is trying to distract workers from. ("If bosses are so concerned about our wallets now, why haven't they given us raises for two whole years?")</li>
</ul>

<h3>Portraying "The Union" as an Evil Third Party</h3>
<p>Union busters will always talk about your union like it's an outside entity with bad intentions, rather than what it really is: you and your coworkers coming together to improve your workplace through collective action. For example, they'll say things like:</p>
<ul>
  <li>"The union just wants your money."</li>
  <li>"The union can force you to go on strike."</li>
  <li>"The union will come between you and your supervisor."</li>
</ul>
<p>Fight back by making sure that all of your coworkers understand that <strong>it's <em>your</em> union</strong>. You and your coworkers democratically decide what's worth fighting for. No outside body can force you to do anything. Similarly, it's up to you and your coworkers to beat the boss through your own collective power. No external force can win or lose things for you. If everyone understands this, you'll all be empowered to correct union busters whenever they <em>third-party</em> your union.</p>
<p>Similarly, <strong>never third-party your union</strong> accidentally in your own flyers or other communications. Always double-check before hitting print or send. And if one of your coworkers accidentally slips up, politely remind them that "the union" isn't someone else- it's all of <em>you</em>!</p>

<h3>Holding Captive Audience Meetings</h3>
<p><%= link_to "Captive audience meetings", "https://en.wikipedia.org/wiki/Captive_audience_meeting", target: "_blank" %> are mandatory gatherings held during work hours where union busters force your coworkers to learn misinformation about unions. In these meetings, management won't directly say they're against your union. Instead, they'll say they just want to "make sure you have all the facts" so that you can "make an informed decision" because they're "looking out for your best interests."</p>
<p>Don't be fooled! These meetings are purely intended to discourage coworkers from organizing by smearing unions as evil, incompetant, or unneeded. Furthermore, management may exclude known pro-union employees from captive audience meetings, so they can't "cause trouble" by poking holes in the union buster's fishy claims.</p>
<p>Similar to the section above on <%= link_to "Intimidating Workers", "#intimidating-workers" %>, <strong>humor</strong> and <strong>inoculation</strong> are both great strategies for countering captive audience meetings. That's because these meetings are basically used to intimidate workers while they're on the clock and must attend.</p>
<p>You can even combine the two strategies to double your defense! For example, some unions hand out <%= link_to "Union Buster Bingo Cards", "https://workerorganizing.org/wp-content/uploads/2024/07/captive-audience-bingo.pdf", target: "_blank" %> to employees on their way into captive audience meetings. These games remind everyone of the union busting playbook's tired old strategies while poking fun at the union buster at the same time. You'll be surprised how little time it takes for everyone to yell out "bingo!" together. Other unions combine inoculation and humor by handing out lollipops on the way in with a silly message that says "We're not suckers!"</p>

<h2>Strategy 4: Division</h2>
<p>Employers understand that worker unity poses a significant threat to their control, so they use many tactics to foster divisions within the workforce. By pitting employees against each other, management hopes to weaken solidarity and make it harder for workers to collectively advocate for better conditions. To resist division, emphasize your common goals and cultivate strong connections between all groups by socializing outside the workplace.</p>

<h3>Exploiting Existing Differences</h3>
<p>Instead of creating new divisions from scratch, it's easier for union busters to exploit the differences that already exist between groups of workers. They frequently target race, gender, language, skill-level, age, tenure, or politics. For example, union busters may:</p>
<ul>
  <li>Inflame political differences by claiming "The union will just give your dues to Democrats"</li>
  <li>Intensify language barriers with a hiring practice where half the workforce speaks one language and half speaks another</li>
  <li>Aggravate racial tensions by giving small raises to one race in hopes that they'll break off from your union effort</li>
</ul>
<p>It's much tougher for union busters to drive a wedge between two groups if group members already have personal relationships with members of the other group. The easiest way to create relationships among groups that don't mingle much in the workplace is to <strong>socialize together</strong> outside work. You could host a weekend barbecue at a nearby park or a potluck dinner at someone's home or community center. If weekends aren't an option, you could start a coffee club before work, eat lunch together, or get drinks after work. If there's a language barrier, find coworkers who can translate so that everyone is understood. Be creative! Just get coworkers together, break the ice, and start building relationships as soon as you can.</p>

<h3>Targeting Individuals</h3>
<p>Management understands that singling out individuals can have an outsized effect on a union drive. Regardless of whether these individuals are singled out for rewards or punishments, the goal is always to break down your united front. For example, union busters may:</p>
<ul>
  <li>Fire or discipline a core organizer for a minor infraction that previously would've been overlooked</li>
  <li>Promote an organic leader so they're no longer part of your bargaining unit</li>
  <li>Play favorites with any workers who pledge to stop supporting your union</li>
</ul>
<p>When management unfairly disciplines an individual union supporter, <strong>use collective action</strong> to pressure the boss into reversing the decision. For example, when a cable company in New York unfairly fired a key union leader, their union didn't despair. Instead, 200 workers wore a sticker to work with the leader's first name on it: Jerome. Then 40 of them piled into the vice president's office and demanded his job back. Not only was Jerome rehired, he even received backpay for the time he couldn't work.</p>
<p>It's trickier to defend against individuals who are singled out for a reward. The key is to help everyone realize early on in your 1-on-1 organizing conversations there are <strong>no shortcuts</strong>. Even though it's tempting to take a small gain today, it prevents you from winning big later. Plus, without a union contract, there's no way to prevent the boss from just taking away that benefit in the future.</p>

<h3>Promoting a "Vote No" Campaign</h3>
<p>The company will reward groups of anti-union workers and lavish them with resources to help spread division among your coworkers. In return for their loyalty, these groups may receive extra time off, special favors, and other benefits that help them amplify the pro-company message. For example, they may:</p>
<ul>
  <li>Hand out free t-shirts, sweatshirts, or other items with "Vote No" printed on them</li>
  <li>Create an alternative "worker voice" newspaper or flyer to compete against your pro-union messages</li>
  <li>Encourage their children to create hand-drawn posters expressing their love for the company</li>
</ul>
<p>You're legally allowed to put up "Vote Yes" posters on any company bulletin boards that allow other worker-submissions (e.g. girl scout cookie sign-up sheets or community event flyers). What's more, if management takes down your posters repeatedly, you should document it and consider filing an Unfair Labor Practice charge against the company.</p>
<p>Still, it's important to remember that you won't win a campaign of dueling flyers. The company has the resources to out-poster you. Instead, your best defense against a barrage of impersonal "Vote No" material is to spread the "Vote Yes" message using the personal communication network you've developed through your <strong><%= link_to "1-on-1 organizing conversations", blog_tips_for_organizing_conversations_path %></strong> and <strong><%= link_to "organic leader identification", blog_tips_for_organic_leader_identification_path %></strong>. Management may have the money to plaster "Vote No" everywhere, but only you have access to your trusted network of organic leaders.</p>

<h2>Strategy 5: Exhaustion</h2>
<p>Union busters create an environment of tension and stress that wears down workers over time and undermines support for your union. By combining all of the strategies above, they aim to make the workplace increasingly unpleasant, with the hope that employees will blame everything on the union effort and eventually just wish for a return to the pre-campaign status quo. However, if coworkers are prepared to recognize the boss's tactics ahead of time, they'll be able to place the blame on the boss where it belongs, allowing everyone to power through to the finish line together.</p>

<h3>Wearing Workers Down</h3>
<p>As your union drive progresses, management may resort to increasingly aggressive tactics aimed at wearing down your coworkers' resolve. Their ultimate goal is for workers to view their own union certification election as though a yes vote means "I want more of this living nightmare," and a no vote means "I just want this horror to end." For example, they may:</p>
<ul>
  <li>Increase workloads and restrict time-off requests</li>
  <li>Claim that they can't give anyone raises until your union drive ends</li>
  <li>Hire more security guards to paint the workplace as growing more violent</li>
</ul>
<p>To defy this strategy, <strong>blame bosses for worsening the workplace</strong>. Make sure everyone knows that the increased stress, tension, and overall worsening of working conditions are a direct result of management's efforts to undermine unionization. Remind everyone that all of the chaos could end tomorrow if the boss just called it off, recognized your union, and negotiated in good faith.</p>

<h3>Making Small Concessions</h3>
<p>To give the appearance of addressing worker concerns without genuinely improving conditions, management may make symbolic or temporary changes. For example, they may:</p>
<ul>
  <li>Give one-time perks like pizza parties or gift cards</li>
  <li>Remove a particularly unpopular supervisor or executive as a scapegoat</li>
  <li>Set up an "anonymous" suggestion box or attitude surveys</li>
</ul>
<p>First off, <strong>beware of "anonymous" feedback mechanisms</strong>- frequently they aren't anonymous at all. For example, union busters traditionally use "anonymous" attitude surveys, which secretly encode who answers them, to find pro-union workers to discipline and pro-company workers to start a "Vote No" campaign. Furthermore, union busters frequently place their own suggestions into "anonymous" suggestion boxes to spread misinformation as through it were voiced by a concerned employee.</p>
<p>Second, you should <strong>put small concessions in context</strong> by pointing out that they can't create meaningful positive change in your workplace. Gift cards quickly run out, families can't eat the memory of last week's pizza party, and fired scapegoats will soon be replaced with similar supervisors. Even concessions that seem large can eventually be reversed by management unless they're protected by a union contract.</p>

<h3>Last-Minute Shenanigans</h3>
<p>Right before your union election, when workers are at their most exhausted, union busters often resort to surprises designed to sway votes without giving you any time to respond. For example, they may:</p>
<ul>
  <li>Beg workers to "just give us one more chance" in a heartfelt letter addressed to workers and their families from the CEO</li>
  <li>Shock workers by spreading a particularly nasty rumor about your union or its leaders</li>
  <li>Upset workers by creating a flashy workplace display of how much money they'll "lose" to union dues, such as with a big cart full of groceries or a videogame system attached to a new TV.</li>
</ul>
<p>Warn your coworkers to <strong>expect last-minute shenanigans</strong> so they're better prepared. Even if you can't guess exactly what management has planned, it'll help everyone feel more in control of the situation whenever the surprise is finally unveiled. Even a little bit of inoculation will help everyone stay strong, stay informed, and remember that voting yes is your best chance for real improvement.</p>

<h2>Conclusion</h2>
<p>Navigating a union drive can be challenging, especially when facing employer tactics aimed at derailing your efforts. However, by understanding these strategies and employing countermeasures, you and your coworkers can build resilience, maintain momentum, and ultimately secure a successful certification election.</p>
<p>Remember, your power lies in unity, open communication, and preparedness. By fostering your network of organic leaders, engaging in 1-on-1 organizing conversations, identifying and addressing management tactics, and staying committed to your collective goals, you'll strengthen your union drive and increase your chances of victory.</p>
<p>Stay informed, stay engaged, and most importantly, stay united. Together, you can overcome any obstacle and create a better workplace for all.</p>

<p><em>Want to form your own labor union? <%= link_to "Download Organize free", store_path("union-busting-defenses") %> to get started today.</em></p>

</div>
</div>
</div>
