<footer>
  <nav>
    <div class="container">
      <div class="row">
        <div class="col col-3">
          <%= link_to 'Terms', terms_path %>
        </div>
        <div class="col col-3">
          <%= link_to 'Privacy', privacy_path %>
        </div>
        <div class="col col-3">
          <%= link_to 'About', about_path %>
        </div>
        <div class="col col-3">
          <%= link_to 'Source', 'https://github.com/High5Apps/organize-api', target: '_blank' %>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <p>Copyright <%= Time.current.year %>, Organize LLC, Seattle, WA, 98107. All rights reserved.</p>
        </div>
      </div>
    </div>
  </nav>
</footer>
