<header>
  <nav>
    <div class="container">
      <div class="row">
        <%= link_to root_path do %>
          <div class="logo">
            <%= picture_tag do %>
              <%= tag :source, srcset: image_path('logo-dark.png'),
                media: '(prefers-color-scheme: dark)' %>
              <%= image_tag 'logo.png', alt: 'Organize Logo' %>
            <% end %>
            Organize
          </div>
        <% end %>
        <%= link_to 'Download Free', store_path('header'), class: 'button' %>
      </div>
    </div>
  </nav>
</header>
