<!DOCTYPE html>
<html lang="en">
  <head>
    <%= display_meta_tags 'apple-mobile-web-app-capable': 'yes',
      canonical: canonical_url,
      charset: 'UTF-8',
      description: 'Form your own labor union. With Organize, you and your coworkers can stand up to bad bosses together and win more of what you love. Download free today.',
      icon: [
        { href: image_path('favicon.ico') },
        { href: image_path('icon.png'), type: 'image/png' },
        { href: image_path('icon.svg'), type: 'image/svg+xml' },
        { href: image_path('icon.png'), rel: 'apple-touch-icon', sizes: '512x512', type: 'image/png' },
      ],
      image_src: image_url('icon-social.png'),
      manifest: '/manifest.json',
      og: {
        description: :description,
        image: :image_src,
        site_name: :site,
        type: 'website',
        title:,
        url: :canonical,
      },
      reverse: true,
      site: site_title,
      twitter: {
        card: 'summary',
      },
      viewport: 'width=device-width,initial-scale=1'
    %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
